<% content_for(:title, "New phone for #{@phone.contact.name} | Wikipages") %>
<h1>New phone number for <%= @phone.contact.name %></h1>

<%= render 'errors'%>

<form action="/contacts/<%= @phone.contact.id %>/phones" method="post">
  <%= render 'form'%>
  <button>Add phone</button>
</form>
