<h1><%= @contact.name.split(' ')[0] %>'s phone updated!</h1>

<p><%= @contact.name.split(' ')[0] %>'s phone was updated.</p>

<p><a href="/contacts/<%= @phone.contact_id %>">Go to <%= @contact.name %></a></p>

<p><a href="/contacts">Return to contact listing</a></p>