<% content_for(:title, "Home | Wikipages") %>

<h1>Contacts</h1>

  <% @contacts.each do |contact|%>
  <row>
    <div class="col-md-2">
      <%= link_to contact.name, "/contacts/#{contact.id}", style: "text-decoration:none;" %>
    </div>
    <div class="col-md-4">
      <%= link_to '', "/contacts/#{contact.id}/edit", class: 'glyphicon glyphicon-cog' %> | <%= link_to '', "/contacts/#{contact.id}", method: :delete, class: 'glyphicon glyphicon-trash' %>
    </div><br/>
  </row>
  <% end%>

<p><%= link_to 'New', new_contact_path, style: "margin-top:1em;", class: 'btn btn-default' %></p>
