<% content_for(:title, "New contact | Wikipages") %>

<h1>New contact</h1>

<%= render 'errors'%>
<%= render 'form'%>

<p><%= link_to 'Return to contacts', '/contacts', class: 'btn btn-default' %></p>
