@import "bootstrap-sprockets"
@import "bootstrap"

body
  font-size: 2em

h1
  padding-bottom: .5em

.container
  margin: 0

a:hover, glyphicon-cog:hover, glyphicon-trash:hover
  text-decoration: none

.col-md-2
  padding-left: .2em
